@model GarageMVC.ViewModels.ProfileViewModel
@*@model GarageMVC.Models.Entities.Member*@

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<div>
    <h4>@Html.DisplayFor(model => model.UserName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LicenceNr)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LicenceNr)
            </dd>
        

    </dl>

    <p>
        <a asp-controller="Vehicles" asp-action="Create"> Add a new vehicle</a>
    </p>
</div>

@*
    TEST VIEW VEHICLES
*@
<div >

        @*@if (Model.Vehicles.Count() > 0)
        {*@
            @foreach (var vehicle in Model.Vehicles)
            {
                <dl class="row">
                    <dt class="col-sm-3">
                        @*<a asp-controller="Vehicles" asp-action="Details" asp-route-id="@vehicle.LicenceNr">*@
                            @Html.DisplayNameFor(v => vehicle.LicenceNr)
                            @Html.DisplayFor(v => vehicle.LicenceNr)
                        @*</a>*@
                    </dt>
                    <dd class="col-sm-9">

                            <a asp-controller="ParkedVehicles" asp-action="Details" asp-route-regNum="@vehicle.LicenceNr">
                                <div class="badge badge-success p-1">Park</div>
                            </a>

                    </dd>
                </dl>

            }
        @*}*@
    



    </div>



@*
    END TEST
*@



<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
