@model GarageMVC.ViewModels.Statistics

@{
    ViewData["Title"] = "Statistics";
}
<h1>Statistics for the garage</h1>
<div class="row">
    <div class="col">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        Nr of parked vehicles:
                    </td>
                    <td>
                        @Model.ParkedVehicles
                    </td>
                </tr>
                <tr>
                    <td>
                        Nr of slots available:
                    </td>
                    <td>
                        @Model.AvailableSlot
                    </td>
                </tr>
                <tr>
                    <td>
                        Nr of parked cars:
                    </td>
                    <td class="text-right">
                        @Model.ParkedCars
                    </td>
                </tr>
                <tr>
                    <td>
                        Nr of parked motorcycles:
                    </td>
                    <td class="text-right">
                        @Model.ParkedMotorcycles
                    </td>
                </tr>
                <tr>
                    <td>
                        Nr of parked buses:
                    </td>
                    <td class="text-right">
                        @Model.ParkedBuses
                    </td>
                </tr>
                <tr>
                    <td>
                        Nr of parked airplanes:
                    </td>
                    <td class="text-right">
                        @Model.ParkedAirplanes
                    </td>
                </tr>
                <tr>
                    <td>
                        Nr of parked boats:
                    </td>
                    <td class="text-right">
                        @Model.ParkedBoats
                    </td>
                </tr>
                <tr>
                    <td>
                        Total number of wheels:
                    </td>
                    <td class="text-right">
                        @Model.TotalNrOfWheels
                    </td>
                </tr>
                <tr>
                    <td>
                        Total pending parking value:
                    </td>
                    <td class="text-right">
                        @Model.ParkingValuePending kr
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
