@model GarageMVC.ViewModels.Statistics

@{
    ViewData["Title"] = "Statistics";
}
<h1>Statistics for registered vehicles</h1>
<div class="row">
    <div class="col">
        <table class="table">
            <tbody>
                @foreach (var vType in Model.NrOfCreatedVehicles)
                {
                    <tr>
                        <td>
                            Nr of vehicles of type @vType.Key :
                        </td>
                        <td class="text-right">
                            @vType.Value
                        </td>
                    </tr>
                }

                <tr>
                    <td>
                        Total number of wheels:
                    </td>
                    <td class="text-right">
                        @Model.TotalNrOfWheels
                    </td>
                </tr>

                <tr>
                    <td>
                        Number of spots used - out of the @Model.TotalSpots parking spots:
                    </td>
                    <td class="text-right">
                        @Model.TotalParkedSpots
                        
                    </td>
                </tr>

                <tr>
                    <td>
                        Available spots left unparked:
                    </td>
                    <td class="text-right">
                        @Model.UnparkedSpots
                    </td>
                </tr>

                <tr>
                    <td>
                        Total pending parking value:
                    </td>
                    <td class="text-right">
                        @Model.ParkingValuePending kr
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
